<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<!-- создаем форму, в которой будем передавать свои данные,
    здесь пишем:
    th:action="" - какое действие должно происходить в результате выполненеия данной формы
    ("@{/user-create}") - действие должно быть выполнено, которе находится по ссылке /user-create
    th:object - объект, который я хочу передавать
    называется ("${user}")
    method - это метод post
    -->
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <!-- здесь, при нажатии кнопки submit
        я должен перейти по ссылке /user-create с методлм post
         -->
    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <input type="submit" value="Create User">
</form>
</body>
</html>